@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
<h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i>  Add New Category</a>
        </div>

    </div>

    </div> 
            <div class="container">
                <div class="container row g-2">
            @foreach (var obj in Model)
            {
                    <div class="col-6">
                        <div class="p-3 card text-center">
                            <h1>@obj.Name</h1>
                            <h2>@obj.NumOfBooks</h2>
                            <div>
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>

                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-secondary"><i class="bi bi-trash"></i>Delete</a>
                       </div>
                
            </div>
            </div>
       
              
               
           } 
           
        
        </div>
    </div>
