@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center mt-5">Welcome To Sara's Book Store....</h1>

<div class="container d-flex align-items-center justify-content-center">
    <div>
<a class="btn btn-primary" href="/Identity/Account/Login">Login</a>
<a class="btn btn-secondary " href="/Identity/Account/Register">Register</a>
</div>
</div>

